*{
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif';
}

body{
}

/* HEADER */
header{
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: #252525;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

header h1{
    color:#53aadd;
    font-size: 45px;
    font-weight: 900px;
}

header span{
    margin-left: 60px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 900px;

}

/* MAIN CONTENT */
main{
   padding: 150px 200px 200px 200px;
   position: relative;
   display: flex;
   flex-direction: row;
}

#left-body-section{
    display: flex;
    flex-direction: column;
    width: 72%;
    border: 2px rgb(230, 229, 229);
    overflow-wrap: break;
}

#right-body-section{
    display: flex;
    flex-direction: column;
}

#left-body-section h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

#left-body-section article{
    font-size: 20px;
    word-spacing: 2px;
    line-height: normal;
}

/* PROFILE BOX */
#profile-flex-box{
    /* box/border/shadow specifications */
    width: 300px;
    height: 350px;
    right: 200px;
    border: 2px rgb(230, 229, 229);
    box-shadow: 0px 0px 100px -2px rgb(189, 189, 189);
    border-radius: 5%;
    position: absolute;
    /* content specifications */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-icon{
    width: 220px;
}

#profile-flex-box h1{
    margin: 30px 0px 0px 0px;
    font-size: 30px;
    font-weight: 400;

}

/* POPULAR ARTICLES */
#popular-articles-flex-box{
    /* box/border/shadow specifications */
    width: 300px;
    height: 450px;
    right: 200px;
    border: 2px rgb(230, 229, 229);
    box-shadow: 0px 0px 100px -2px rgb(189, 189, 189);
    border-radius: 5%;
    position: absolute;
    /* content specifications */
    margin-top: 400px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popular-articles-flex-box h1{
    margin-top: 30px;
    font-size: 27px;
    font-weight: 400;
}

#popular-articles-flex-box ol{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
}

#popular-articles-flex-box li{
    margin-top: 13px;
}